<?xml version="1.0"?>
<robot name="zadanie2" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="param" value="${load_yaml('../config/urdf.yaml')}"/>
	<xacro:property name="width" value="0.1"/>
	<xacro:property name="radius" value="0.1"/>
	
	<link name="base_link">
		<visual>
			<geometry>
				<cylinder length="0.2" radius="0.2"/>
			</geometry>
		</visual>
	</link>
	
	
	<link name="link_nr_1">
		<visual>
			<geometry>
				<cylinder length="${param['i1']['length']}" radius="${radius}" />
			</geometry>
		</visual>
	</link>
	
	
	<link name="link_nr_2">
		<visual>
			<geometry>
				<cylinder length="${param['i2']['length']}" radius="${radius}"/>
			</geometry>
		</visual>
	</link>
	
	
	<link name="tool">
		<visual>
			<geometry>
				<sphere radius="0.1"/>
			</geometry>
		</visual>
	</link>

	<joint name="joint_1" type="fixed">
		<parent link="base_link"/>
		<child link="link_nr_1"/>
		<origin  rpy="${param['i1']['rpy']}" xyz="${param['i1']['xyz']}"/>
	</joint>
	
	<joint name="joint_2" type="fixed">
		<parent link="link_nr_1"/>
		<child link="link_nr_2"/>
		<origin rpy="${param['i2']['rpy']}" xyz="${param['i2']['xyz']}"/>
	</joint>
	
	<joint name="joint_3" type="fixed">
		<parent link="link_nr_2"/>
		<child link="tool"/>
		<origin  rpy="${param['i3']['rpy']}" xyz="${param['i3']['xyz']}"/>
	</joint>

</robot>
